.list-nav {
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.list-nav li {
  height: 0.5rem;
  width: 25%;
  text-align: center;
  line-height: 0.5rem;
}

.list-container {
  margin: 0;
  overflow: auto;
  height: 100%;
}

.list-container li {
  height: 1.47rem;
}
